.item{
    width: 300px;
    height: 300px;
    position: relative;
}

.item-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

.item-img img{
    max-width: 100%;
    max-height: 100%;
}

.item-name{
    text-align: center;
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    top: 65%;
    left: 50%;
    color: #04354c;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-family: 'Montserratt';
}

.item-desc{
    position: absolute;
    text-align: center;
    font-size: 16px;
    top: 67%;
    left: 0;
    right: 0;
    padding: 0 20px;
    color: #04354c;
    font-family: 'Montserratt';
}

.item-price{
    position: absolute;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    top: 75%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #f7284d;
    font-family: 'Montserratt';
}

.item button{
    position: absolute;
    top: 85%;
    left: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 20px;
    font-family: 'Montserratt';
    background-color: #04354c;
    width: 250px;
    height: 40px;
    border-radius: 10px;
}

.item:hover{
    background-color: #04354c;
    transition: all .4s ease;
}

.item:hover .item-name, .item:hover .item-desc{
    color:white;
    transition: all .2s ease;
}

.item:hover .item-price{
    color: yellow;
    transition: all .2s ease;
}

.item:hover button{
    background-color: #f7284d;
    cursor: pointer;
}


