.category-page{
    display: flex;
    width: 90%;
    margin: auto;
}

.category-name{
    color: #033a56;
    width: 90%;
    text-align: left;
    margin: auto;
}

.item-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
}

.cart-container{
    flex-basis: 20%;
}