footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    background: linear-gradient(to right,#012333,#074969);
    color: white;
    font-weight: bold;
    text-align: center;
    overflow-x: hidden;
}

footer div{
    font-size: 1rem;
}

footer img{
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    footer div {
        font-size: 0.8rem;
    }
    footer img{
        width: 80%;
    }
}

@media (max-width: 433px) {
    footer div {
        font-size: 0.45rem;
    }
    footer img{
        width: 60%;
    }
}
