.product-page{
    display: flex;
    flex-wrap: wrap;
}

.product-category{
    flex-basis: 50%;
    position: relative;
    height: 500px;
}

.product-category div{
    color: black;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.product-category button{
    font-weight: bold;
    border: #033a56 solid 1px;
    width: 200px;
    height: 60px;
    color: white;
    border-radius: 1px;
    font-size: 20px;
    background-color: #033a56;
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius: 10px;
}

.product-category button:hover{
    cursor: pointer;
    background-color: red;
}