.payment-page{
    display: flex;
    margin-bottom: 2rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.payment-container{
    color:#033a56;
    display: flex;
    flex-basis: 70%;
    font-size: 1.2rem;
}

.paymentcart-container{
    flex-basis: 30%;
    padding-right: 1rem;
}

.payment-title{
    color: #033a56;
    font-size: 2rem;
}


@media (max-width: 768px){
    .payment-page{
        flex-direction: column-reverse;
    }

    .payment-title{
        font-size: 1.5rem;
    }

    .payment-container{
        color:#033a56;
        display: flex;
        font-size: 1.2rem;
        flex-basis: 100%;
    }

    .paymentcart-container{
        flex-basis:100%;
        padding-right: 0rem;
    }
}

@media (max-width: 414px){
    .payment-title{
        font-size: 1.2rem;
    }

    .payment-container{
        font-size: 1rem;
    }
}
